/* #loginbody{
  margin: auto auto;
  margin-top: 210px;
  padding: 0 50px 0 50px;
  border-color: blue;
  border-style: solid;
  width: 217px;
  border-radius: 20px;
} */
#app{
  margin:0;
}

#background{
  display: flex;
  border: 1px soild red;
  background: url(../img/background.png) no-repeat;
  background-size:100% 100%;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loginbody{
  margin: auto;
  vertical-align: middle;
  padding: 0 50px 0 50px;
  border: 1px solid #21a7e1;
  box-shadow: 5px 5px 10px 10px  rgba(24,68,124,0.4);
  padding-top:10px;
  padding-bottom: 50px;
  border-radius: 6px;
  width: 300px;
  position: relative;
  background-color: rgba(10, 163, 245, 0);
  align-self: center;

}

/*四个角框*/
.border_corner{
  z-index: 2500;
  position: absolute;
  width: 19px;
  height: 19px;
  background: rgba(0,0,0,0);
  border: 4px solid #1fa5f1;
}
.border_corner_left_top{
  top: -2px;
  left: -2px;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 6px;
}
.border_corner_right_top{
  top: -2px;
  right: -2px;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 6px;
}
.border_corner_left_bottom{
  bottom: -2px;
  left: -2px;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 6px;
}
.border_corner_right_bottom{
  bottom: -2px;
  right: -2px;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 6px;
}
.input{
  border: 1px  blue;

} 
.h1{
  margin: auto;
  padding: 0;
  font-size: 25px;
  font-weight: bolder;
  text-align: center; 
  color: white;
  padding-bottom: 15px;


}
.logo{
  margin-bottom: 30px;
  margin-top: 0px;
}
.name{
  border: 1px  red;
  width: 300px;
  height: 50px;
  margin: auto;
}
.user {
  height: 25px;
  width: 200px;
  display: block;
  margin: auto;
  
}
.login_in{
  display: block;
  margin: auto;
}
button{
  width: 210px;
  background-color: rgb(0,245,184, 0);
  height: 35px;
  border-color: #bd5735;
  border-radius: 10px; 
  color: rgb(255, 255, 255); 
  cursor: pointer;
}
.register {
  margin-top: 15px;
  margin-right: 50px;
  text-align: end;
  font-size: 10px;
  color: white;
  
}
#zhuce {
  color: antiquewhite;
}
